<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Create Character</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
</head>
<body class="background">
    <nav class="navbar navbar-expand-lg">
        <div class="container-fluid">
        <p id="nav-title" style="font-size: 30px;" class="navbar-brand">Dungeons and Companions</p>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarTogglerDemo02" aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        </div>
        <div class="d-flex justify-content-end">
            <a id="nav-title" class="nav-link active" aria-current="page" href="/dashboard">Dashboard</a>
            <a id="nav-title" class="nav-link active" aria-current="page" href="/leaderboard">Leaderboard</a>
            <a id="nav-title" class="nav-link" href="/logout">Logout</a>
        </div>
    </nav>
    <h1 class="text-center">Create Character!</h1>
    <form style="background-color: #60c6ef" class="m-5 col-5 mx-auto"  action="/create/companion" method="post">
        {% with messages = get_flashed_messages() %}
            {% if messages %}
                <div class="alert alert-danger" role="alert">
                    <strong>Error!</strong>
                    {% for message in messages %}
                    <p>{{message}}</p>
                    {% endfor %}
                </div>
            {% endif %}
        {% endwith %}
        <div>
            <label for="name">Name</label>
            <input type="text" name="name">
        </div>
        <div>
            <label for="breed">Breed</label>
            <select id="breed" class="select" name="breed">
                <option value="0">Choose a Breed:</option>
                <option value="Golden Retriever">Golden Retriever</option>
                <option value="Pomeranian">Pomeranian</option>
                <option value="Cocker Spaniel">Cocker Spaniel</option>
                <option value="Chihuahua">Chihuahua</option>
                <option value="Great Dane">Great Dane</option>
                <option value="French Bulldog">French Bulldog</option>
                <option value="Schnauzer">Schnauzer</option>
                <option value="Husky">Husky</option>
                <option value="Shiba Inu">Shiba Inu</option>
                <option value="Rottweiler">Rottweiler</option>
                <option value="Corgi">Corgi</option>
            </select>
        </div>
        <div>
            <label for="profession">Class</label>
            <select id="profession" class="select" name="profession">
                <option value="0">Choose a Class:</option>
                <option value="Wizard">Wizard</option>
                <option value="Warrior">Warrior</option>
                <option value="Archer">Archer</option>
                <option value="Paladin">Paladin</option>
                <option value="Priest">Priest</option>
                <option value="Shifter">Shifter</option>
                <option value="Bard">Bard</option>
            </select>
        </div>
        <div>
            <label for="weapon">Weapon</label>
            <select id="weapon" class="select" name="weapon">
                <option value="0">Choose a Weapon:</option>
                <option value="Sword">Sword</option>
                <option value="Wand">Wand</option>
                <option value="Stick">Stick</option>
                <option value="Bow">Bow</option>
                <option value="Ball">Ball</option>
                <option value="ChewToy">Chew Toy</option>
                <option value="Mandolin">Mandolin</option>
                <option value="Shield">Shield</option>
            </select>
        </div>
        <div>
            <label for="ability1">Ability 1</label>
            <select id="abilty1" class="select" name="ability1">
                <option value="0">Choose an Ability:</option>
                <option value="Pee">Pee</option>
                <option value="Fetch">Fetch</option>
                <option value="Digging">Digging</option>
                <option value="Saliva">Saliva</option>
                <option value="Play Dead">Play Dead</option>
                <option value="Begging">Begging</option>
                <option value="Barking">Barking</option>
                <option value="Pouncing">Pouncing</option>
                <option value="Shedding">Shedding</option>
            </select>
        </div>
        <div>
            <label for="ability2">Ability 2</label>
            <select id="abilty2" class="select" name="ability2">
                <option value="0">Choose an Ability:</option>
                <option value="Pee">Pee</option>
                <option value="Fetch">Fetch</option>
                <option value="Digging">Digging</option>
                <option value="Saliva">Saliva</option>
                <option value="Play Dead">Play Dead</option>
                <option value="Begging">Begging</option>
                <option value="Barking">Barking</option>
                <option value="Pouncing">Pouncing</option>
                <option value="Shedding">Shedding</option>
            </select>
        </div>
        <div>
            <label for="ability3">Ability 3</label>
            <select id="abilty3" class="select" name="ability3">
                <option value="0">Choose an Ability:</option>
                <option value="Pee">Pee</option>
                <option value="Fetch">Fetch</option>
                <option value="Digging">Digging</option>
                <option value="Saliva">Saliva</option>
                <option value="Play Dead">Play Dead</option>
                <option value="Begging">Begging</option>
                <option value="Barking">Barking</option>
                <option value="Pouncing">Pouncing</option>
                <option value="Shedding">Shedding</option>
            </select>
        </div>
        <div>
            <label for="picture">Picture of Companion</label>
            <img src="https://c.tenor.com/bRtAhRkGXPgAAAAC/doge.gif" alt="default pic" class="character_default_pic">
            <input type="text" name="picture" placeholder="Post img link here" value="https://c.tenor.com/bRtAhRkGXPgAAAAC/doge.gif">
        </div>
        <div>
            <label for="story">Background Story</label>
            <textarea name="story" cols="30" rows="5">Born with mighty abilities to vanquish the evil Catzilla. This companion was summoned by many innocent pups whom suffered from Catzillla's attack.</textarea>
        </div>
        <button type="submit" value="companion">Submit</button>
    </form>
</body>
</html>