<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Create Character</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
</head>
<body class="background">
    <nav class="navbar navbar-expand-lg">
        <div class="container-fluid">
        <p id="nav-title" style="font-size: 30px;" class="navbar-brand">Dungeons and Companions</p>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarTogglerDemo02" aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        </div>
        <div class="d-flex justify-content-end">
            <a id="nav-title" class="nav-link active" aria-current="page" href="/dashboard">Dashboard</a>
            <a id="nav-title" class="nav-link active" aria-current="page" href="#">Scoreboard</a>
            <a id="nav-title" class="nav-link" href="/logout">Logout</a>
        </div>
    </nav>
    <h1 class="text-center">Update Character! {{companion.name}}</h1>
    <form style="background-color: #60c6ef" class="m-5 col-5 mx-auto"  action="/edit/companion" method="post">
        {% with messages = get_flashed_messages() %}
            {% if messages %}
                <div class="alert alert-danger" role="alert">
                    <strong>Error!</strong>
                    {% for message in messages %}
                    <p>{{message}}</p>
                    {% endfor %}
                </div>
            {% endif %}
        {% endwith %}
        <input type="hidden" name="id" value={{edit.id}}>
        <div>
            <label for="name">Name</label>
            <input type="text" name="name" value="{{edit.name}}">
        </div>
        <div>
            <label for="ability1">Ability 1</label>
            <select id="abilty1" class="select" name="ability1" value="ability1">
                <option value="{{edit.ability1}}">{{companion.ability1}}</option>
                <option value="Pee">Pee</option>
                <option value="Fetch">Fetch</option>
                <option value="Digging">Digging</option>
                <option value="Salivia">Salivia</option>
                <option value="Play Dead">Play Dead</option>
                <option value="Begging">Begging</option>
                <option value="Barking">Barking</option>
                <option value="Pounching">Pounching</option>
                <option value="Shedding">Shedding</option>
            </select>
        </div>
        <div>
            <label for="ability2">Ability 2</label>
            <select id="abilty2" class="select" name="ability2" value="{{edit.ability2}}">
                <option value="{{edit.ability2}}">{{companion.ability2}}</option>
                <option value="Pee">Pee</option>
                <option value="Fetch">Fetch</option>
                <option value="Digging">Digging</option>
                <option value="Salivia">Salivia</option>
                <option value="Play Dead">Play Dead</option>
                <option value="Begging">Begging</option>
                <option value="Barking">Barking</option>
                <option value="Pounching">Pounching</option>
                <option value="Shedding">Shedding</option>
            </select>
        </div>
        <div>
            <label for="ability3">Ability 3</label>
            <select id="abilty3" class="select" name="ability3" value="{{edit.ability3}}">
                <option value="{{edit.ability3}}">{{companion.ability3}}</option>
                <option value="Pee">Pee</option>
                <option value="Fetch">Fetch</option>
                <option value="Digging">Digging</option>
                <option value="Salivia">Salivia</option>
                <option value="Play Dead">Play Dead</option>
                <option value="Begging">Begging</option>
                <option value="Barking">Barking</option>
                <option value="Pounching">Pounching</option>
                <option value="Shedding">Shedding</option>
            </select>
        </div>
        <div>
            <label for="picture">Picture of Companion</label>
            <input type="text" name="picture" value="{{edit.picture}}">
        </div>
        <div>
            <label for="story">Background Story</label>
            <textarea name="story" cols="30" rows="5">{{edit.story}}</textarea>
        </div>
        <button type="submit" value="update_info">Submit</button>
    </form>
</body>
</html>