@import url(https://fonts.googleapis.com/css?family=Press+Start+2P:regular);

body, html {
    height: 100%;
}
/* CSS for login and registration page */
.background {
    background-image: url("pixel-scene.webp");
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover; 
}
.background-title {
    font-family: 'Press Start 2P';
    font-size: 60px;
    text-align: center;
    color: white;
    padding-top: 3%;
}
/* welcome page */
#catzilla {
    height: 70%;
    width: 35%;
}

.backgrounds {
    background-color: rgb(15, 12, 12);
}

#text {
    font-family: 'Press Start 2P';
    align-self: center;
}

#red {
    background-color: rgba(224,39,32,255);
}

/* NavBar */
#nav-title {
    font-family: 'Press Start 2P';
    font-size: 20px;
    color: white;
}

#image {
    width: 200px;
    height: 250px;
}