@import url(https://fonts.googleapis.com/css?family=Press+Start+2P:regular);
@import url(https://fonts.googleapis.com/css?family=Quantico:regular,italic,700,700italic);

body, html {
    height: 100%;
}
/* CSS for login and registration page */
.developers {
    width: 50%;
    margin: auto;
    padding: 1% 2% 0.5% 2%;
    background-color: #F49C75;
    color: white;
    border: 5px dashed white;
    border-radius: 25px;
}
.background {
    background-image: url("pixel-scene.webp");
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover; 
}
.background-title {
    font-family: 'Press Start 2P';
    font-size: 60px;
    text-align: center;
    color: white;
    padding-top: 3%;
}
/* welcome page */
#catzilla {
    height: 70%;
    width: 35%;
}
.backgrounds {
    background-color: rgb(15, 12, 12);
}
#text {
    font-family: 'Press Start 2P';
    align-self: center;
}
#combat-text {
    background-color: rgb(220,229,232);
    font-family: 'Quantico';
    font-size: 18px;
}
.image-health {
    width:20%;
}
.health {
    font-family: 'Press Start 2P';
    padding: 2% 10% 2% 10%;
    margin-top: 15%;
    width: auto;
    background-color: #1F4045;
    color: white;
    border-radius: 25px;
    border: 5px solid white;
    font-size: 1vw;
}
.battle-stats {
    width: auto;
    height: 200px;
    background-color: rgb(220,229,232);
    border: 5px dashed silver;
    border-radius: 12px;
}
#red {
    background-color: rgba(224,39,32,255);
}

/* NavBar */
#nav-title {
    font-family: 'Press Start 2P';
    font-size: 20px;
    color: white;
}
.pixel {
    font-family: 'Press Start 2P';
}
#image {
    width: 200px;
    height: 250px;
}
.thumbnail {
    display: flex;
    justify-content: center;
    align-items: center;
    max-width:150px;
    max-height:150px;
    min-width: 150px;
    min-height: 150px;
    background-color: black;
    margin: auto;
}
.companion_thumbnail {
    width: 150px;
    height: 100%;
}
.thumbnail_border {
    border: 10px solid transparent;
    padding: 3px;
    border-image: url(thumbnail_border.png) 50 round;
}
.character_default_pic {
    height: 100px;
}
.dashboard-table {
    width: 60%;
    background-color: rgb(220,229,232);
}
.leaderboard-table {
    width: 80%;
    margin: auto;
    background-color: rgb(220,229,232);
}
.pixel_font {
    font-family: 'Press Start 2P';
    font-size: 40px;
    color: black;
    margin-bottom: 20px;
}
.cursive_font {
    font-family: cursive;
    font-weight: bold;
}
.align_text_left {
    text-align: left;
}
.dash_action {
    width: 450px;
}
.thumb_column {
    width: 200px;
}
/* Start of View Companion Page CSS Codes */
.character-page {
    display: flex;
    justify-content: space-evenly;
}
.column {
    width: 30%;
    height: auto;
    padding: 5%;
}
.column_center {
    width: 30%;
    height: auto;
    padding: 2%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.top-left {
    background-color: rgb(220,229,232);
    padding: 5%;
    margin-bottom: 40px;
    border: 5px dashed silver;
    border-radius: 25px;
}
.top-right {
    width:150px;
    height: 150px;
    margin-bottom: 40px;
    position: relative;
    top: 0%;
    left: 15%;
}
.circle {
    background: #F49C75;
    width: 150px;
    height: 150px;
    padding: 10%;
    border-radius: 50%;
    display: flex;
    align-items: center;
    text-align: center;
    color: white;
}
.left-bottom {
    background-color: rgb(220,229,232);
    padding: 10%;
    border: 5px dashed silver;
    border-radius: 25px;
}
.right-bottom {
    width: 250px;
    background-color: rgb(220,229,232);
    padding: 10%;
    border: 5px dashed silver;
    border-radius: 25px;
}
.companion-pic {
    display: flex;
    justify-content: center;
    align-items: center;
    max-width:80%;
    max-height: auto;
    min-width: 80%;
    min-height: auto;
    margin-top: -20px;
    z-index: -1;
}
.companion-pic2 {
    width: 100%;
    height: 100%;
}
.text-name {
    font-family: 'Press Start 2P';
    padding: 1% 3% 1% 3%;
    width: auto;
    background-color: #1F4045;
    border-radius: 25px;
    border: 5px solid white;
    font-size: 3vw;
}
.text-profession {
    font-family: 'Press Start 2P';
    padding: 1% 3% 1% 3%;
    width: auto;
    background-color: #1F4045;
    border-radius: 25px;
    border: 5px solid white;
    font-size: 2vw;
}
/* End of View Companion Page CSS Codes */


/* Battle Page Animation Stuff */
#protagonist-parent {
    position: relative;
    width: 200px;
    height: 250px;
}

.protagonist{
    position: absolute;
    width: 200px;
    height: 250px;
    animation: slide-in 1000ms;
}

@keyframes explode {
    from {
        transform: translateX(-100%);
    }
    to {
        transform: translateX(0%);
    }
}